<h1>Student Table</h1>
<table>
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Surname</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td>{{student.id}}</td>
      <td>{{student.fio}}</td>
      <td>{{student.group}}</td>
      <td>
        <button (click)="updateStudent(student)">Update Student</button>
        <button (click)="deleteStudent(student)"> X </button>
      </td>
    </tr>
  </tbody>
</table>
<br>
<button (click)="addNewStudent()">Add new Student</button>
<br>
