<div class="icon-panel">
  <h1 class="label"> {{title}} </h1>
  <ng-container *ngIf="persUser.enableEmail == false">
    <button class="right-align" mat-raised-button (click)="confirmation()"
    color="primary">Confirmation the Email</button>
  </ng-container>
  <button class="right-align material-icons-outlined" mat-raised-button (click)="logout()"
    color="primary">logout</button>

</div>

<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="students">Student Table</a>
      <a mat-list-item *ngIf="isAdmin" routerLink="newsletter">Email Table</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
