.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

mat-form-field {
  width: 80%; /* Увеличено для заполнения контейнера */
}

button {
  width: 80%; /* Увеличено для заполнения контейнера */
  margin-top: 10px; /* Промежуток между кнопками */
}

h1.custom-label {
  margin-top: 100px;
  text-align: center;
  font-family: 'Arial', cursive !important;
  margin-bottom: 10px; /* Уменьшение пространства между заголовком и формой */
}

.form-container {
  background-color:hsl(226, 79%, 66%); /* Голубой оттенок */
  border-radius: 15px; /* Закругленные углы */
  padding: 20px; /* Внутренние отступы */
  margin: 0 auto; /* Выравнивание по центру */
  max-width: 400px; /* Максимальная ширина */
}

